.about__container {
  display: flex;
  margin: auto;
  width: 90vw;
  max-width: 1000px;
  flex-direction: column;
}

.about__child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about__child h4 {
  padding-bottom: 1rem;
  font-size: var(--font-size-h4-main);
  color: var(--clr-btn-form);
}
.about__child p,
li {
  font-size: var(--font-size-about-p);
  color: var(--clr-about-p);
  line-height: 2rem;
  text-align: justify;
}

.about__child li {
  font-size: calc(var(--font-size-about-p) - 10%);
  padding-bottom: 1rem;
  list-style: disc;
}

.heading__container p {
  font-size: calc(var(--font-size-about-p) + 50%);
  color: var(--clr-background-blog);
}

.bullet-points__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.our-expertise__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: 90vw;
}
.our-expertise__container p {
  padding-bottom: 2rem;
}
.our-expertise__container li {
  margin-left: 1.5rem;
}

.our-values__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: 90vw;
}

.ending__container {
  padding-bottom: 7rem;
}

.ending__container button {
  margin-bottom: 2rem;
}
