body {
  margin: 0;
  width: 100%;
  background-image: var(--clr-gradient-background-main);
  display: flex;
  flex-direction: column;
  height: auto;
}

.l-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
}

.l-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.l-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
