/* ----- Common javascript elements ----- */

#js-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
}

#js-loading-indicator {
  margin: auto;
  border: 4px solid #b7b7b7;
  border-top: 4px solid var(--clr-details-main);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: loading-anime 2s linear infinite;
}

#js-error-container,
#js-comment-error-container {
  display: none;
  background-color: black;
  color: red;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
}

#js-comments-container {
  margin: auto;
}

h1,
h2,
h4 {
  color: var(--clr-h4);
}

/* ----- Hero Section ----- */

.hero__article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3b3a3b;
  width: inherit;
  padding-left: 10vw;
  background: url(../assets/images/hero-image1.png) no-repeat right bottom;
  background-size: max(calc(50vw), 750px) auto;
}

.hero__article h1 {
  background: var(--clr-gradent-heading-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 10vh;
  font-size: var(--font-size-heading-h1);
}

.hero__el {
  padding-bottom: 50px;
}

.hero__el--h4 {
  font-size: var(--font-size-heading-h4);
  color: var(--clr-h4);
  max-width: 70vw;
}

.divider__div {
  display: flex;
  background-image: var(--clr-gradent-divider);
  height: 2px;
}
/* Change color on tablet to make title more visible */
@media (max-width: 678px) {
  .hero__article h1 {
    background-image: none;
    color: var(--clr-black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--clr-white);
  }
}

/* ------------- Button Style ------------- */

.button {
  color: var(--clr-white);
  border-radius: 20px;
  width: 200px;
  padding: var(--padding-btn-cta-main);
  font-size: var(--font-size-btn-cta-main);
  font-weight: 600;
}

.scroll__button {
  background: none;
  color: var(--clr-details-main);
  font-size: 2.4rem;
  height: 50px;
  margin: auto;
  z-index: 102;
}
.scroll__button:hover {
  color: #a8682f;
}
/* Removes button as it is not nessesary on tables*/
@media screen and (max-width: 1090px) {
  .scroll__button {
    display: none;
  }
}
.scroll__button--right {
  transform: translateX(-950px);
}
.scroll__button--left {
  transform: translateX(+950px);
}

.button--hero-blogs {
  color: var(--clr-black);
  background-image: var(--clr-gradient-btn-main);
  border: 2px solid var(--clr-btn-main);
  transition: all 0.4s;
}
.button--hero-blogs:hover {
  background-image: none;
  background-color: black;
  border: 2px solid var(--clr-btn-main);
  color: var(--clr-white);
}
.button--hero-contact {
  background: none;
  border: 2px solid var(--clr-btn-main);
  /* Padding must be slightly smaller the main to componsate for border */
  padding: calc(clamp(5px, 2vw, 10px) - 1px) calc(clamp(16px, 2vw, 24px) - 2px);
}

.button--hero-contact.button--styled::before,
.button--hero-contact.button--styled::after {
  background-color: var(--clr-btn-main);
}
.button--hero-contact.button--styled:hover .button-text {
  color: var(--clr-black);
}

/* ----Styling for closing button animation---- */
.button--styled {
  border: 2px solid var(--clr-btn-main);
  background: transparent;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.button--styled .button-text {
  position: relative;
  z-index: 2;
}

.button--styled::before,
.button--styled::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  transition: transform 0.5s;
  z-index: 1;
}

.button--styled::before {
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.button--styled::after {
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.button--styled:hover .button-text {
  color: white;
  transition: all 0.2s;
}

.button--styled:hover::before {
  transform: scaleX(1);
}

.button--styled:hover::after {
  transform: scaleX(1);
}

/*------------ Services Section ----------- */

.services__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-background-secondary);
}

.section__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__head__text--h4 h4 {
  font-size: 20px;
  padding-top: 50px;
}

.section__head__text--h2 h2,
.section__head__text--h2 h1 {
  font-size: var(--font-size-heading-h1);
  padding: 50px 0;
  text-align: center;
}

.section__head__text--h2 {
  background: var(--clr-gradent-heading-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 2000px;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.services__card {
  background-color: var(--clr-background-card-main);
  margin: 10px 10px 0 0;
  padding: 60px calc(5px + 2vw);
  max-width: 500px;
  max-height: 230px;
}

.s-card__content {
  display: flex;
}

.fa-icon {
  background: var(--clr-gradent-heading-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.c-content__icon {
  display: flex;
  align-items: center;
  padding: 0 10px;
  padding-right: calc(10px + 0.5vw);
}
.c-text__h4 h4 {
  font-size: var(--font-size-h4-main);
  padding-bottom: 0.5rem;
}

.c-text__p p {
  line-height: 1.5rem;
  font-size: var(--font-size-card-p);
  color: var(--clr-p-text);
}

.services__card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.services__card.is-visible {
  opacity: 1;
  transform: none;
}

/* -------- Blog list Section ---------- */

.list__section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #3b3a3b;
  min-height: 100vh;
  background-color: var(--clr-background-secondary);
}

.control-panel {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 930px;
  min-width: 300px;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.search__container {
  margin: auto;
  color: var(--clr-white);
}

.filter-and-sort__wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--clr-white);
}
#search {
  height: 3rem;
  width: 300px;
  padding: 1rem;
}
#filter-select,
#sort {
  width: 200px;
  text-align: center;
}
#filter-select,
#search,
#sort {
  background: transparent;
  border: 2px solid var(--clr-btn-main);
  border-radius: 20px;
}
option {
  background-color: var(--clr-background-secondary);
}

/* ----- Blog List (homepage) ------*/

.card__container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  max-width: 1000px;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  /* SOURCE: https://blog.logrocket.com/hide-scrollbar-without-impacting-scrolling-css/ */
  /* Hide scrollbar in WebKit browsers (Chrome, Safari, Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  /* Hide scrollbar in IE and legacy Edge */
  -ms-overflow-style: none;
}

.blog__container--blogs {
  flex-wrap: wrap;
  max-width: 930;
  justify-content: center;
}

.blog__card {
  background-color: var(--clr-background-card-main);
  width: 300px;
  height: 490px;
  display: flex;
  flex-direction: column;
  animation: fade-in 0.3s ease-in forwards;
}

.card__item {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.card__item--title {
  min-height: 100px;
  font-size: calc(var(--font-size-h4-main) - 20%);
  text-align: center;
  max-height: 100px;
}

.card__item--readtime {
  align-self: flex-end;
}

.card__item--excerpt {
  overflow-y: scroll;
  min-height: 250px;
  max-height: 250px;
}

.card__item--excerpt::-webkit-scrollbar {
  display: none;
}

.card__item p {
  line-height: 1.3;
  font-size: calc(var(--font-size-card-p));
  color: var(--clr-p-text);
}

.card__item--author {
  padding-top: 1rem;
}

.card__item--btn {
  align-self: flex-end;
  width: 100px;
  height: 100px;
}

.show-blogs__btn {
  padding-top: 2rem;
}

.button--view-all-posts {
  font-size: 1rem;
  background: var(--clr-black);
  border: 2px solid var(--clr-btn-main);
  width: 190px;
  height: 40px;
  transition: all 0.2s;
}
.button--view-all-posts:hover {
  font-size: 1.02rem;
  background: var(--clr-btn-main);
  color: var(--clr-black);
  width: 190px;
  height: 40px;
}

/* ----Mouse effect--- */
.blog__card {
  border: 1px solid rgba(255, 255, 255, 0.02);
  cursor: pointer;
  position: relative;
}

.blog__card::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: inherit;
  content: "";
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.08),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 500ms;
}
.blog__card:hover::before {
  opacity: 1;
}

/* -------Footer------- */

.footer-upper__container {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 1rem 0;
}

.footer-upper__container a {
  color: var(--clr-p-text);
  font-size: 0.8rem;
}
.footer-upper__container a:hover {
  color: var(--clr-btn-main);
}

.contact-info__container {
  display: flex;
  align-items: center;
}

.contact-info__list {
  padding: 0;
}

.contact-info__list-item {
  padding: 0.5rem 0;
}

.social-links__container {
  display: flex;
  align-items: center;
}

.sosial-links__list {
  display: flex;
  align-items: center;
}

.sosial-links__list-item {
  display: flex;
  font-size: var(--font-size-heading-h4);
  padding: 1rem 1rem;
}

.footer-nav__container {
  display: flex;
  align-items: center;
}

.footer-nav__list {
  padding: 0;
}

.footer-nav__list-item {
  padding: 0.5rem 0;
}

.footer-lower__container {
  height: auto;
  padding: 2rem 1vw;
  border-top: 1px solid #3b3a3b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-lower__container p {
  color: #3b3a3b;
  font-size: 0.8rem;
}

@media (max-width: 400px) {
  .footer-upper__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-upper__container div {
    padding: 1rem;
  }
}

/* ------ Arrow ------ */

/* SOURCE: Inspired by :https://codepen.io/cypark/pen/OMWGjy */
.arrow {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}

.arrow::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: var(--clr-details-main);
  border-width: 2px 2px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
}

.arrow::before {
  transform: rotate(45deg);
  margin: -10px 0 0 -8px;
  transition: border-color 0.2s;
}

.arrow::after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: var(--clr-details-main);
  position: absolute;
  transform-origin: 50% 50%;
  transition: border-color 0.2s;
}

.arrow::after {
  width: 50px;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-36px, -1px);
}
.card__item--btn a:hover .arrow::before,
.card__item--btn a:hover .arrow::after {
  border-color: #a8682f;
}
